<!--Landing Page-->
<!DOCTYPE html> 
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1"> 
    <title>My Simple Webpage</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}"> 
</head> 

<body>
    <p>Hello World!</p> 

    <form action = "/process_text" method = "POST"> 
        <input type = "text" name = "user_text"> 
        <input type = "submit" value = "Submit">
    </form>
</body> 
</html> 