<!--Sandbox Page-->
<!DOCTYPE html> 
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1"> 
    <title>Model Sandbox</title> 

    <!--Sytlesheets/Bootstrap-->
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}"> 
    <!--Fonts-->
    <link href = "https://fonts.googleapis.com/css?family=Montserrat" rel = "stylesheet" type = "text/css">
    <link href = "https://fonts.googleapis.com/css?family=Lato" rel = "stylesheet" type = "text/css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--jQuery Library-->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <!--Modals/Carousels/Dropdowns--> 
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head> 

<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60"> 
    <!--Site Navigation Bar--> 
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">SentAI</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('index') }}">HOME</a></li> 
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">MODELS
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#lexicon">Lexicon</a></li>
                  <li><a href="#nbow">NBoW</a></li>
                  <li><a href="#rnn">RNN</a></li> 
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">APPLICATIONS
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('sandbox') }}">Sandbox</a></li>
                  <li><a href="#marketanalysis">Market Analysis</a></li>
                  <li><a href="#moviereviews">Movie Reviews</a></li> 
                </ul>
              </li> 
            </ul>
          </div>
        </div>
    </nav> 
      
      <!--Sentiment Sandbox Banner-->
      <div class="jumbotron text-center">
        <h1>Sentiment Sandbox</h1> 
        <p>A place to tinker with each model!</p> 
      </div> 

      <div id="Sentiment Analyzer" class="container-fluid">
        <div class="row">
            <!--Sentiment Analyzer Section-->
            <div class="col-md-6 border">
                <h2>Sentiment Analyzer</h2> 
                <h4>Select a sentiment analysis model and enter a short text (< 500 words) below. Simply select the 'Analyze Sentiment!' button to generate results!</h4>
                                  
                <form action="/analyze_sentiment" method = "POST">
                    <div class="mb-3">
                      <label for="dropdownOptions" class="form-label">Application Select:</label>
                      <select class="form-select form-control custom-dropdown" id="dropdownOptions" name="application_Select">
                          <option value="Finance">Financial Sentiment</option>
                          <option value="General">General Sentiment</option>
                      </select> 
                    </div> 
                    <div class="mb-3">
                      <label for="dropdownOptions" class="form-label">Model Select:</label>
                      <select class="form-select form-control custom-dropdown" id="dropdownOptions" name="model_Select">
                         <option value="lexicon">Lexicon Based Approach</option>
                          <option value="nbow">Neural Bag of Words Model</option>
                          <option value="cnn">Convolutional Neural Network Model</option>
                      </select> 
                    </div>
                    <br><div class="mb-3">
                        <textarea class="form-control" id="user_input" name = "user_text" rows="5" placeholder="Type your text here... (Capped at 500 words)"></textarea>
                    </div>
                    <br><button class="btn btn-lg btn-block custom-button" type="submit">Analyze Sentiment!</button>
                </form>
            </div>

            <!--Sentiment Analysis Section-->
            <div class="col-md-6 border">
                <h2>Sentiment Analysis</h2>
                <div id="Sentiment Analysis">
                    <!-- Labels for Sentiment Score and Accuracy -->
                    <h2><span id="polarity-label" class="label label-default">Sentiment Polarity: {{polarity}}</span></h2>
                    <h2><span id="subjectivity-label" class="label label-default">Sentiment Subjectivity: {{subjectivity}}</span></h2>

                    <!--Sentiment Bar-->
                    <div class="progress">
                      <div 
                        id="sentiment-bar" class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>                    

                    <!--Sentiment Logo-->
                    <div class="text-center"> 
                      <span id="sentiment-icon" class="fas fa-meh icon-neutral"></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--js--> 
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</body> 