<!--Contact Submission Page-->
<!DOCTYPE html> 
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1"> 
    <title>Contact Submission</title> 

    <!--Sytlesheets/Bootstrap-->
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}"> 
    <!--Fonts-->
    <link href = "https://fonts.googleapis.com/css?family=Montserrat" rel = "stylesheet" type = "text/css">
    <link href = "https://fonts.googleapis.com/css?family=Lato" rel = "stylesheet" type = "text/css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--jQuery Library-->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <!--Modals/Carousels/Dropdowns--> 
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head> 

<body id="top" data-spy="scroll" data-target=".navbar" data-offset="60"> 
    <!--Site Navigation Bar--> 
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">SentAI</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('index') }}">HOME</a></li> 
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">MODELS
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#lexicon">Lexicon</a></li>
                  <li><a href="#nbow">NBoW</a></li>
                  <li><a href="#cnn">CNN</a></li> 
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">APPLICATIONS
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('sandbox') }}">Sandbox</a></li>
                  <li><a href="#marketanalysis">Market Analysis</a></li>
                  <li><a href="#moviereviews">Movie Reviews</a></li> 
                </ul>
              </li> 
            </ul>
          </div>
        </div>
    </nav> 
      
      <!--Sentiment Sandbox Banner-->
      <div class="jumbotron text-center">
        <h1>Sentiment Sandbox</h1> 
        <p>A place to tinker with each model!</p> 
      </div> 

      <div id="Sentiment Analyzer" class="container-fluid">
        <div class="row">
          <!--Sentiment Analyzer Section-->
          <div class="col-md-6 border">
              <h2>Sentiment Analyzer</h2> 
              <h4>Select a sentiment application (movie reviews or financial Tweets) and enter a review or Tweet (< 500 words) below. Then simply select the 'Analyze Sentiment!' button to generate results for each model!</h4>
                                  
              <form action="/analyze_sentiment" method = "POST">
                  <div class="mb-3">
                    <label for="dropdownOptions" class="form-label">Application Select:</label>
                    <select class="form-select form-control custom-dropdown" id="dropdownOptions" name="application_Select">
                      <option value="General">Movie Reviews</option>  
                      <option value="Finance">Market Analysis</option>                          
                    </select> 
                  </div>
                  <br><div class="mb-3">
                      <textarea class="form-control" id="user_input" name = "user_text" rows="10" placeholder="Type your text here... (Capped at 500 words)"></textarea>
                  </div>
                  <br><button class="btn btn-lg btn-block custom-button" type="submit">Analyze Sentiment!</button>
              </form>
          </div>

          <!--Sentiment Analysis Section-->
          <div class="col-md-6 border">
            <h2>Sentiment Analysis</h2> 
              <!--Lexicon Section-->
              <div id="Lexicon" class="col-sm-12"> 
                <div class="col-sm-8">
                  <label class="form-label">Lexicon Based Approach:</label>
                  <h2><span id="lexicon-sentiment-label" class="label label-default">Predicted Class: {{lexicon_Class}}</span></h2>
                  <!--Sentiment Bar-->
                  <div class="progress">
                    <div 
                      id="lexicon-sentiment-bar" class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" style="display: flex; justify-content: center; align-items: center;">
                  <span id="lexicon-sentiment-icon" class="fas fa-meh icon-neutral"></span>
                </div>
              </div>
              <!--NBoW Section-->
              <div id="NBoW Model" class="col-sm-12"> 
                <div class="col-sm-4" style="display: flex; justify-content: center; align-items: center;">
                  <span id="nbow-sentiment-icon" class="fas fa-meh icon-neutral"></span>
                </div>
                <div class="col-sm-8">
                  <label for="dropdownOptions" class="form-label">Neural Bag of Words Model:</label>
                  <h2><span id="nbow-sentiment-label" class="label label-default">Predicted Class: {{nbow_Class}}</span></h2>
                  <!--Sentiment Bar-->
                  <div class="progress">
                    <div 
                      id="nbow-sentiment-bar" class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </div> 
              <!--CNN Section-->
              <div id="CNN Model" class="col-sm-12"> 
                <div class="col-sm-8">
                  <br><label for="dropdownOptions" class="form-label">Convolutional Neural Network Model:</label>
                  <h2><span id="cnn-sentiment-label" class="label label-default">Predicted Class: {{cnn_Class}}</span></h2>
                  <!--Sentiment Bar-->
                  <div class="progress">
                    <div 
                      id="cnn-sentiment-bar" class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" style="display: flex; justify-content: center; align-items: center;">
                  <span id="cnn-sentiment-icon" class="fas fa-meh icon-neutral"></span>
                </div>
              </div>
              
          </div>
        </div>
      </div>

      <footer class="container-fluid text-center">
        <a href="#top" title="To Top">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>Software is under the GNU General Public License: <a href="https://www.gnu.org/licenses/gpl-3.0.html" title="Visit gnu">www.gnu.org</a></p>
      </footer>

    <!--js--> 
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</body> 